.apresentaResultado {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    padding: 18px;
    border-radius: 5px;
}

.tituloResultado {
    font-size: 32px;
}

.resultadoImc {
    font-size: 28px;
    margin: 15px 0;
}

.classificacaoResultado {
    font-size: 18px;
    font-weight: bold;
}

.corPesoNormal {
    background-color: #008000;
}

.corSobrePeso {
    background-color: #ffff00;
}

.corObesidade {
    background-color: #ff0000;
}