.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.tituloFormulario {
    font-weight: bolder;
    font-size: 42px;
    text-align: center;
    margin-top: 40px;
    color: var(--corDoTexto);
}

.formInput {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: var(--corDoTexto);
}

.labelInput {
    display: block;
    color: var(--corDoTexto);
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 8px;
}

.formButton {
    width: 100%;
    margin-top: 35px;
    padding: 12px 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--corDeFundoBotao);
    cursor: pointer;
    color: var(--corDoTexto);
}

.formButton:hover {
    background-color: var(--corDeFundoBotaoSecundario);
    font-weight: bold;
    transition: ease 0.7s;
}

.erroMessage {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 12px;
    font-style: italic;
}